@import "@/vars.css";

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 49px;
  z-index: 1;
  margin-left: 10%;
  margin-right: 10%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--color-secondary);
  z-index: 1;
}

.title {
  font-size: 42px;
  font-weight: 700;
  color: black;
  margin-bottom: 22px;
  font-family: var(--font-roboto);
  background-clip: text;
  background: linear-gradient(
    90deg,
    var(--color-secondary) 70%,
    rgba(14, 14, 14, 0) 120%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.description {
  font-size: 25px;
  font-family: var(--font-roboto);
  margin-bottom: 22px;
  
}

.contactBtn {
  text-decoration: none;
  background-color: var(--color-secondary);
  color: var(--color-text);
  border-radius: 90px;
  font-size: 20px;
  font-weight: 600;
  padding: 17px 26px;
  box-shadow: 0 15px 40px var(--card-shadow);
}
.contactBtn:hover{
  box-shadow:0 15px 40px var(--card-hover-shadow);
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 10px);
  }
  100% {
    transform: translate(0, -0px);
  }
}


@media screen and (max-width: 830px) {
  .container {
    flex-direction: column-reverse; /* Switches the order of content and image on smaller screens */
  }

  .content {
    align-items: center; /* Centers content vertically */
  }

  .heroImg {
    width: 60%; /* Increase width of the image on smaller screens */
    margin-top: 20px; /* Add space between the text and image */
  }
}

.heroImg {
  width: 30%;
  z-index: 1;
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-bottom: 5px;
  border-radius: 70%;

  
}
.heroImg:hover{
  box-shadow:0 15px 40px var(--card-hover-shadow);
  transform: translateY(-5px); /* Optional hover lift effect */
}
