:root {
  --color-text: #00668c; /* Dark Gray for readability */
  --color-subtext: #313d44;
  --color-bg: #fffefb; /* Light, soft background */
  --color-primary: #1d1c1c; /* Soft Blue */
  --color-secondary: #3f8fb8; /* Lighter Blue for contrast */
  --color-accent:  #092a36; /* Warm accent color */
  --card-shadow: rgba(0, 0, 0, 0.15);
  --card-hover-shadow: rgb(33, 32, 32) ;
  --card-bg: #f5f4f1;
}

[data-theme="dark"] {
  --color-text: #cee8ff;
  --color-subtext: #e0e0e0;
  --color-bg: #0F1C2E;
  --color-primary: #FFFFFF;
  --color-secondary: #acc2ef;
  --color-accent: #1F3A5F;
  --card-shadow: #0F1C2E ;
  --card-hover-shadow: rgb(255, 254, 254);
  --card-bg: #374357;
}
/* Global Styles */
body {
  font-family: "Poppins", sans-serif;
  background-color: var(--color-bg);
  color: var(--color-text);
  transition: background-color 0.3s ease, color 0.3s ease;
  overflow-x: hidden;
}

/* Buttons */
button {
  background: var(--color-primary);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s ease;
  
}

button:hover {
  background: var(--color-secondary);
}


